.hero {
  background-color: #6feedd;
}

.title {
  font-size: 50px;
  font-weight: bold;
  color: #7b68ee;
}

.title_second {
  font-size: 25px;
  text-align: center;
  color: rgb(120, 107, 199);
}

.sport {
  font-size: 30px;
  text-align: left;
  color: rgb(233, 56, 94);
}

.otherStyle {
  font-size: 25px;
  color: maroon;
}

body {
  font: 21px Georgia, serif;
  color: rgb(224, 38, 38);
  background-color: rgb(129, 38, 182);
}

.continue {
  font-size: 30px;
  color: blueviolet;
  text-align: center;
}
